@use '../abstracts/variables' as vars;

// Map of colors for utility generation
$colors: (
  black: vars.$black,
  dark-grey: vars.$dark-grey,
  grey: vars.$grey,
  darker-grey: vars.$darker-grey,
  light-grey: vars.$light-grey,
  near-white: vars.$near-white,
  default-white: vars.$default-white,
  teal-dark: vars.$teal-dark,
  teal: vars.$teal,
  teal-light: vars.$teal-light,
  gold-dark: vars.$gold-dark,
  gold: vars.$gold,
  orange: vars.$orange
);

// Generate utility classes for text-color, background, SVG fill & stroke
@each $name, $color in $colors {
  .clr-#{'#{$name}'} {
    color: $color;
  }

  .bg-#{'#{$name}'} {
    background-color: $color;
  }

  .fill-#{'#{$name}'} {
    fill: $color;
  }

  .stroke-#{'#{$name}'} {
    stroke: $color;
  }
}
