// Fonts

// Colors

// Others
$dt: 0.3s;

// Breakpoints
$bp-large-desktop: 1600px;
$bp-desktop: 1470px;
$bp-small-desktop: 1366px;
$bp-ipad-pro: 1024px;
$bp-large-mobile: 768px;
$bp-small-mobile: 512px;
