// Fonts
$font-serif: sans-serif;
$font-base: 'Gotham', $font-serif;
$font-inter: 'Inter', $font-serif;
$font-angst: 'Angst', $font-serif;
$font-gothic-a1: 'Gothic A1', $font-serif;

/**
 * Colors
 */

// Blacks & Greys
$black: #090909;
$lighter-black: #181a1a;
$darker-grey: #535958;
$dark-grey: #414651;
$grey: #dadada;
$light-grey: #f0f0f0;
$near-white: #f7f7f7;
$default-white: #fff;

// Teals / Greens
$teal-dark: #05312b;
$teal: #076962;
$teal-light: #609e99;
$teal-very-light: #c1eae7;

// Gold / Yellow
$gold-dark: #b99a49;
$gold: #d3ad48;

// Black
$black-medium: #181a1a;

// Accent
$orange: #eb8331;

$green-linear-gradient: linear-gradient(246.98deg, #0b726b 0%, #065650 94.35%);
$yellow-linear-gradient: linear-gradient(246.98deg, #ecc359 0%, #b99a49 94.35%);

// Breakpoints
$bp-large-desktop: 1600px;
$bp-desktop: 1470px;
$bp-small-desktop: 1366px;
$bp-ipad-pro: 1024px;
$bp-large-mobile: 768px;
$bp-small-mobile: 512px;

// Miscellaneous
$dt: 0.3s;
$header-top-spacing: 2rem;
$sidebar-desktop-width: max(10.8rem, 60px);
