// Fonts
$font-base: 'Gotham', sans-serif;

/**
 * Colors
 */

// Blacks & Greys
$black: #090909;
$dark-grey: #414651;
$grey: #dadada;
$light-grey: #f0f0f0;
$near-white: #f7f7f7;

// Teals / Greens
$teal-dark: #05312b;
$teal: #076962;

// Gold / Yellow
$gold-dark: #b99a49;
$gold: #d3ad48;

// Accent
$orange: #eb8331;

$green-linear-gradient: linear-gradient(246.98deg, #0b726b 0%, #065650 94.35%);
$yellow-linear-gradient: linear-gradient(246.98deg, #ecc359 0%, #b99a49 94.35%);

// Miscellaneous
$dt: 0.3s;

// Breakpoints
$bp-large-desktop: 1600px;
$bp-desktop: 1470px;
$bp-small-desktop: 1366px;
$bp-ipad-pro: 1024px;
$bp-large-mobile: 768px;
$bp-small-mobile: 512px;
