@use '../abstracts/variables' as vars;

%heading {
  font-weight: bold;
  font-family: vars.$font-angst;
}
.heading-extra-large {
  @extend %heading;
  font-size: max(6.4rem, 32px);
  line-height: 145%;
}
.heading-large {
  @extend %heading;
  font-size: max(4.8rem, 28px);
  line-height: 145%;
}
